div {
    display: inline;
    color: #F8F8F2;
    font-family: "Segoe UI mono";
    font-size: 20px;
}

div.address {
    color: #AE81BC;
}

div.operator {
    color: #E6DB5A;
}

div.row {
    margin-left: 35%;
}

div.sect_row {
    margin-left: 0;
    cursor: hand;
}

div.xref {
    color: grey;
}

div.operand_register {
    color: #F92672;
}

div.operand_address {
    color: #AE81BC;
}

div.section {
    color: #A6E22E;
}

a {
    text-decoration: none;
}

body {
    background-color: #272822;
}